@import '../../../../assets/css/_mixins.scss';
@import '../../../../assets/css/_variables.scss';

$text: $default-text;
$red-folio: $red-mh;

:host {
  left: 28px;
  position: fixed;
  top: 16px;
  z-index: 1;
  color: $text;

  @include bp(4) {
    bottom: 0;
    left: 72px;
    top: auto;
    transform: rotate(-90deg);
    transform-origin: 0 0;
  }

  &::before {
    background: $red-folio;
    content: '';
    height: 28px;
    left: -22px;
    position: absolute;
    width: 4px;
  }
}

h6, p {
  font-weight: 500;
  font-size: 10px;
  font-family: $sans-default-family;
}

h6 {
  color: $red-folio;
}

p {
  font-family: $sans-default-family;
}
